    @font-face{
        font-family:"Proxima N W01 Reg";
        src:url("../altr_wp/_/assets/fonts/proxima_nova/Fonts/1132159/7e90123f-e4a7-4689-b41f-6bcfe331c00a.eot?#iefix");
        src:url("../altr_wp/_/assets/fonts/proxima_nova/Fonts/1132159/7e90123f-e4a7-4689-b41f-6bcfe331c00a.eot?#iefix") format("eot"),url("../altr_wp/_/assets/fonts/proxima_nova/Fonts/1132159/64017d81-9430-4cba-8219-8f5cc28b923e.woff2") format("woff2"),url("../altr_wp/_/assets/fonts/proxima_nova/Fonts/1132159/e56ecb6d-da41-4bd9-982d-2d295bec9ab0.woff") format("woff"),url("../altr_wp/_/assets/fonts/proxima_nova/Fonts/1132159/2aff4f81-3e97-4a83-9e6c-45e33c024796.ttf") format("truetype");
    }
    @font-face{
        font-family:"Proxima N W01 Smbd";
        src:url("../altr_wp/_/assets/fonts/proxima_nova/Fonts/1132171/87e4b4fc-cdf1-450a-8bed-dd818cba908d.eot?#iefix");
        src:url("../altr_wp/_/assets/fonts/proxima_nova/Fonts/1132171/87e4b4fc-cdf1-450a-8bed-dd818cba908d.eot?#iefix") format("eot"),url("../altr_wp/_/assets/fonts/proxima_nova/Fonts/1132171/ae47a7f5-89da-4879-b934-29722c3dd451.woff2") format("woff2"),url("../altr_wp/_/assets/fonts/proxima_nova/Fonts/1132171/70ae52ec-d89b-4c6a-9402-854ebe423c54.woff") format("woff"),url("../altr_wp/_/assets/fonts/proxima_nova/Fonts/1132171/6a35571c-ea14-4dac-9ae1-0e7af0abeec8.ttf") format("truetype");
    }

/*
    @font-face{
        font-family:"Fira Sans Regular";
        src:url("../altr_wp/_/assets/Fonts/fira_sans/FiraSans-Regular.eot?#iefix");
        src:url("../altr_wp/_/assets/Fonts/fira_sans/FiraSans-Regular.eot?#iefix")
format("eot"),url("../altr_wp/_/assets/Fonts/fira_sans/FiraSans-Regular.woff")
format("woff"),url("../altr_wp/_/assets/Fonts/fira_sans/FiraSans-Regular.ttf")
format("truetype");
    }
*/


