#altr-header{
  padding: vw(px, 24, 0, 24, 0);
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1001;
  transform: translate3d(0%,0,0);
  will-change: transform;
  backface-visibility:hidden;
  transition: all .25s ease;



  &.altr-header--scrolled {
    transform: translate3d(0%,-100%,0);
  }//scrolled

  @include bp1 {
    padding: vw(bp1, 24, 0 ,24, 0);
  }
  @include bp2 {
    padding: vw(bp2, 24, 0, 24, 0);
  }


  //default SVG colors
  svg {
    polygon, path {
      fill: #fefefe;
      transition: all .75s ease;
    }
  }

  //light
  &.header-dark {
   // background-color: #fefefe;

    svg {
      polygon, path {
        fill: #000;
      }
    }
    .learn-btn {
      color: #000;
      background-color: #ffffff;

      &:hover {
        color: $white;
      }
    }
  }//header-dark



  .learn-btn {
    height: vw(px, 46);
    line-height: vw(px, 44);
    width:  vw(px, 157);
    border: vw(px, 2 ) solid $green;
    border-radius: vw(px, 5);
    color: $white;
    margin-right: vw(px, 130);
    font-size: vw(px, 14);
    font-family: $PN-R;
    letter-spacing: vw(px, 4);
    text-transform: uppercase;
    float: right;
    text-align: center;
    background-color: #000;

    &:focus {
      outline: none;
    }

    &:hover {
      background-color: $green;
    }
    &:active {
      background-color: $darkGreen;
      border-color: $darkGreen;
    }

    @include bp1 {
      height: vw(bp1, 46) ;
      width: vw(bp1, 157);
      line-height: vw(bp1, 46);
      border-radius: vw(bp1, 5);
      font-size:  vw(bp1, 14);
      margin-right: vw(bp1, 50);
      border: vw(bp1, 2) solid $green;
      border-radius: vw(bp1, 5);
    }

    @include bp2 {
      font-size: vw(bp2, 14);
      letter-spacing: vw(bp2, 4);
      height: vw(bp2, 38);
      width: vw(bp2, 157);
      line-height: vw(bp2, 36);
      border-radius:  vw(bp2, 5);
      margin-right:vw(bp2, 24);
      border: vw(bp2, 2) solid $green;

    }
  }//learn-btn

  .logo {
    padding-top: vw(px, 12);
    height: vw(px, 20);
    width: vw(px, 68);
    margin-left: vw(px, 130);
    position: relative;
    float: left;

    svg {
      height: vw(px, 20);
      width: vw(px, 68);

      @include bp1 {
        height: vw(bp1, 20);
        width: vw(bp1, 68);
      }
      @include bp2 {
        height: vw(bp2, 24);
        width: vw(bp2, 82);
      }
    }

    @include bp1 {
      height: vw(bp1, 20);
      width: vw(bp1, 68);
      margin-left: vw(bp1, 50);

    }

    @include bp2 {
      height: vw(bp2, 24);
      width: vw(bp2, 82);
      margin-left: vw(bp2, 24);
    }
  }//logo
}